%baseButton {
  cursor: pointer;
  background-color: gold;
  color: black;
  padding: 10px 20px;
  font-size: 22px;
  border-radius: 10px;
  border: none;
  position: relative;
  box-shadow: 0 10px 0 rgb(196, 160, 2), 0 5px 20px;
  transition: all 0.2 ease;
  &:hover {
    top: 2px;
    box-shadow: 0 8px 0 rgb(196, 160, 2), 0 5px 20px;
  }
  &:active {
    box-shadow: none;
    top: 10px;
  }
}
